* {
    background-color: snow;
    font-family: helvetica, sans-serif;
    color: gainsboro;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px black;
    width: 20vw;
}
