/* FONTS

*/

/* Mobile\Default Viewport */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

/* Tablet Viewport */ 
@media only screen and (min-width: 481px) {

}

/* Laptop Viewport */
@media only screen and (min-width: 769px) {

}

/* Desktop Viewport */
@media only screen and (min-width: 1025px) {

}
