* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.header {
    background: linear-gradient(to right, snow, lightgray);
    padding: 1rem;
    font-weight: lighter;
    width: auto;
    z-index: 0;
    font-size: 16pt;
}

.container {
    height: 200vh;
    width: auto;
    padding: 1rem;
    background: linear-gradient(to bottom right, dodgerblue 80%, #ff6200 20%);
}

.content {
    z-index: 1;
}

svg {
    transform: scale(3) translate(-1vw, 0vh);
    z-index: 0;
}

h1 {
    color: snow;
    width: 75vw;
    line-height: 0.70;
    font-weight: bolder;
    border-bottom: 1px solid snow
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 23pt;
}

a:visited {
    color: hotpink; 
}

h2 {
    padding: 3rem 10px;
    font-size: 46pt;
    color: gold;
    line-height: 0.86;
    background-color: rgba(.95,.95,.95,0.2);
}

.graphic p {
    font-size: 22pt;
    color: lightgrey;
}

graphic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lbb2 {
    background-image: url("lbb2.jpg");
    background-size: cover;
}

.lbb3 {
    background-image: url("lbb1.jpg");
    background-size: cover;

@media screen and (min-width: 1080px) {

    h2 {
        width: 50vw;
    }

    .graphic p {
        font-size: 20pt;
        width: 50vw;
    }

}


















